@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e6ffe6;
	font-family: 'Montserrat', sans-serif;
}
.container {
	border-bottom: 2px solid #292942;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.container:focus-within {
	border-bottom: 2px solid #00c711;
}
.password {
	padding: 8px;
	border: 0;
	width: 200px;
}
.password:focus {
	outline: 0;
}
span {
	float: right;
	background: #fff;
	cursor: pointer;
	padding: 6.5px;
}
